<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>

            <body>
                <tr>
                    <td>
                        <div class="product-info">
                            <img 
                            src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            alt="Product-Image" class="product-image">
                            <span class="product-name">Air Jordan 1 Mid SE</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100.000 đ</td>
                    <td>200.000 đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                                alt="Product-Image" class="product-image">
                            <span class="product-name">Air Jordan 1 Mid SE</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100.000 đ</td>
                    <td>200.000 đ</td>
                </tr>
            </body>
        </table>
    </div>
</div>
<app-footer></app-footer>