<app-header></app-header>
<div class="container">
    <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>Sử dụng Bootstrap</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="carouselExample" class="carausel slide" data-bs-ride="carausel">
            <div class="carausel-inner">
                <div class="carausel-item active">
                    <div class="square-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            class="product-image" alt="product-Image">
                    </div>
                </div>
                <div class="carausel-item">
                    <div class="square-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            class="product-image" alt="product-Image">
                    </div>
                </div>
                <div class="carausel-item">
                    <div class="square-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            class="product-image" alt="product-Image">
                    </div>
                </div>
                <div class="carausel-item">
                    <div class="square-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            class="product-image" alt="product-Image">
                    </div>
                </div>
                <div class="carausel-item">
                    <div class="square-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                            class="product-image" alt="product-Image">
                    </div>
                </div>
            </div>
            <button class="carausel-control-prev" type="button" data-bs-target="#carouselExample">
                <span class="carausel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carausel-control-prev" type="button" data-bs-target="#carouselExample">
                <span class="carausel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row">
            <div class="thumbnail-container">
                <div class="thumbnail-item active">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item active">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item active">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item active">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
                <div class="thumbnail-item active">
                    <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cdf407be-ef9c-4325-beb3-15c6cd663790/air-jordan-1-mid-se-shoes-jbRhW6.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>






















